<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>googlevideo.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>youtube.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>ytimg.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We need permission to send you medication reminders</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We need access to read your exercise data to track your elliptical workouts.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We need permission to save your fasting sessions to Health app.</string>
	<key>NSFamilyControlsUsageDescription</key>
	<string>YRepeat uses Family Controls to help you stay focused by blocking distracting apps during your chosen time windows.</string>
</dict>
</plist>
